.header-coursoual-container {
  height: 80vh;
  width: 100%;
  /* border: 1px solid red; */
}
@media (max-width: 768px) {
  .header-coursoual-container {
    height: 40vh;
    width: 100%;
    padding: 5px;
  }
}
