.footer-full {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  line-height: 50px;
  width: 100%;
  height: 70%;
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.822);
  background-color: rgba(0, 0, 0, 0.836);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 10px;
}

.footer-img-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 100px;
}
.footer-total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding: 20px;
  margin-top: 20px;
}

.footer-product-con {
  width: 500px;
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}

.footer-span-product {
  display: flex;
  flex-direction: column;
}
.footer-span-con > span:hover {
  color: rgb(30, 173, 209);
}
.footer-span-product1 {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.footer-span-product > span:hover {
  color: rgb(30, 173, 209);
}
.footer-span-product1 > span:hover {
  color: rgb(30, 173, 209);
}
.footer-side-div-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-information-con {
  width: 350px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}
.footer-span-con {
  display: flex;
  flex-direction: column;
}
.footer-contactus {
  display: flex;
  flex-direction: column;
}
.footer-contact-info {
  width: 350px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}
.footer-contact-info > span:hover {
  color: rgb(30, 173, 209);
}
.footer-span-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h4 {
  color: #fff;
}
.footer-contat-End--container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .footer-full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* line-height: 50px; */
    width: 100%;
    /* height: 100vh; */
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.822);
    background-color: rgba(0, 0, 0, 0.836);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
  }
  .footer-product-con {
    display: none;
  }
  .footer-span-product {
    display: none;
  }
  .footer-span-product1 {
    display: none;
  }
  .footer-information-con {
    display: none;
  }
  .footer-toooo-coo {
    display: none;
  }
  .footer-contactus {
    display: flex;
    flex-direction: column;
  }
  .footer-contactus > h2 {
    display: flex;
    justify-content: flex-start;
  }
  .footer-contact-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* border: 1px solid red; */
  }
  .footer-contat-End--container {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border: 1px solid red; */
  }
}
