.new__product__main__card {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 1px solid red; */
}

.newprod-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 3rem;
  padding: 30px;
  overflow-x: hidden;
}

.new-main-imgcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 1rem;
  width: 350px;
  height: 300px;
  border-radius: 30px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 1px solid rgba(172, 166, 166, 0.349);
}

.new-main-imgcon:hover .new-img-conta {
  /* transform: rotate(5deg); */
  transform: scale(1.1);
  /* zoom: 0.8; */
  transition: all 0.8s ease-in-out;
}

.new-img-conta {
  width: 250px;
  height: 200px;
  padding: 10px;
}

@media (max-width: 768px) {
  .new__product__main__card {
    padding: 30px;
  }
  .newprod-container {
    overflow-x: scroll;
    gap: 1rem;
    padding: 0px;
  }
  .new-main-imgcon {
    width: 250px;
    height: 300px;
  }
}
